.CaveEntrance-1{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/CaveEntrance-1.png");
}

.CaveInterior-1{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/CaveInterior-1.png");
}

.CaveInterior-2{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/CaveInterior-2.png");
}

.OverworldGround-1{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/OverworldGround-1.png");
}

.OverworldWall-1{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/OverworldWall-1.png");
}

.OverworldWall-2{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/OverworldWall-2.png");
}

.OverworldWall-3{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/OverworldWall-3.png");
}

.OverworldWall-4{
	background-image: url("https://raw.githubusercontent.com/Harrisandwich/Codevember/master/Day%205/images/Tiles/OverworldWall-4.png");
}
